<%-include('./partials/header');-%>
<h1>"<%= existTitle %>" is already exist!!</h1>
<p>Try with another title.</p>
<a class="btn btn-primary text-light" href="/compose">Try Again</a>
<%-include("./partials/footer"); -%>
